# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Streamlit
.streamlit/

# Environment / secrets
.env
*.json

# Temporary files
*.tmp
*.temp

# Temporary output images
*.png

# OS files
.DS_Store
Thumbs.db 